<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.soluvis.croffle.v1.gcloud.mapper.AgentManagementMapper">
	
	<select id="selectDoNotCreatedAgent"  parameterType="Map" resultType="Map">
		SELECT 1
	</select>
</mapper>