<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.soluvis.croffle.v1.gcloud.mapper.CampaignStatisticMapper">
	
	<insert id="insertRawData"  parameterType="Map">
		INSERT INTO bake.pds_rawdata(
			  conversation_id
			, start_ymd
			, start_hmss
			, end_ymd
			, end_hmss
			, campaign_id
			, t_duration
			, t_dialing
			, t_ringing
			, t_agent
			, agent_id
			, disconnect_type
			, contactlist_id
			, ani
			, dnis
			, create_date)
		VALUES
		<foreach collection="campaignResult" item="item" separator=",">
		(
			  #{item.conversationId}
			, #{item.startYMD}
			, #{item.startHMSS}
			, #{item.endYMD}
			, #{item.endHMSS}
			, #{item.campaignId}
			, #{item.tDuration}
			, #{item.tDialing}
			, #{item.tRinging}
			, #{item.tAgent}
			, #{item.agentId}
			, #{item.disconnectType}
			, #{item.contactlistId}
			, #{item.ani}
			, #{item.dnis}
			, TO_CHAR(CURRENT_TIMESTAMP , 'YYYYMMDDHH24MISS')
		)
		</foreach>
		ON CONFLICT (conversation_id) DO NOTHING
	</insert>
	
	<insert id="insert15MinData"  parameterType="Map">
		INSERT INTO bake.pds_15min(
			  progress_ymd
			, progress_hm
			, campaign_id
			, n_outbound_attempted
			, n_connected
			, n_outbound_connected
			, n_offered
			, n_outbound_abandoned
			, create_date)
		VALUES
		<foreach collection="campaignResult" item="item" separator=",">
		(
			  #{item.progressYMD}
			, #{item.progressHM}
			, #{item.campaignId}
			, #{item.nOutboundAttempted}
			, #{item.nConnected}
			, #{item.nOutboundConnected}
			, #{item.nOffered}
			, #{item.nOutboundAbandoned}
			, TO_CHAR(CURRENT_TIMESTAMP , 'YYYYMMDDHH24MISS')
		)
		</foreach>
		ON CONFLICT (progress_ymd, progress_hm, campaign_id) DO NOTHING
	</insert>
	
	<delete id="deleteDayData"  parameterType="Map">
		DELETE FROM bake.pds_15min
		WHERE progress_ymd = #{startDate}
	</delete>
</mapper>