<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.soluvis.croffle.v1.gcloud.mapper.CampaignStatisticMapper">
	
	<insert id="insertRawData"  parameterType="Map">
		INSERT INTO bake.PDS_RAWDATA(
			  PARTICIPANT_ID
			, START_DATE
			, START_TIME
			, END_DATE
			, END_TIME
			, CAMPAIGN_ID
			, T_DURATION
			, T_DIALING
			, T_INTERACT
			, T_AGENT
			, DISCONNECT_TYPE
			, CONTACTLIST_ID
			, ANI
			, DNIS
			, CREATED_DATE)
		VALUES
		<foreach collection="campaignResult" item="item" separator=",">
		(
			  #{item.PARTICIPANT_ID}
			, #{item.START_DATE}
			, #{item.START_TIME}
			, #{item.END_DATE}
			, #{item.END_TIME}
			, #{item.CAMPAIGN_ID}
			, #{item.T_DURATION}
			, #{item.T_DIALING}
			, #{item.T_INTERACT}
			, #{item.T_AGENT}
			, #{item.DISCONNECT_TYPE}
			, #{item.CONTACTLIST_ID}
			, #{item.ANI}
			, #{item.DNIS}
			, to_char(current_timestamp , 'YYYYMMDDHH24MISS')
		)
		</foreach>
		ON CONFLICT (PARTICIPANT_ID) DO NOTHING
	</insert>
</mapper>