<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>개인 환경설정</title>
<script th:inline="javascript" type="text/javascript" th:src="@{/lib/js/bootstrap.bundle.min.js}"></script>
<script th:inline="javascript" type="text/javascript" th:src="@{/lib/js/popper.min.js}"></script>
<script th:inline="javascript" type="text/javascript" th:src="@{/lib/js/jquery-3.7.1.min.js}"></script>
<script th:inline="javascript" type="text/javascript" th:src="@{/lib/js/datatables.min.js}"></script>
<script th:inline="javascript" type="text/javascript" th:src="@{/js/private-setting.js}"></script>
<script th:inline="javascript">
const empId = /*[[${empId}]]*/"";
</script>
<link th:inline="css" rel="stylesheet" th:href="@{/lib/css/bootstrap.min.css}" />
<link th:inline="css" rel="stylesheet" th:href="@{/lib/css/jquery.dataTables.min.css}" />
<link th:inline="css" rel="stylesheet" th:href="@{/css/custom.css}" />
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
	<symbol id="save" viewBox="0 0 16 16">
		<path d="M11 2H9v3h2V2Z"/>
		<path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0ZM1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5Zm3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4v4.5ZM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5V15Z"/>
	</symbol>
</svg>
</head>
<body>
	<div id="screen1" class="custom-container">
		<div class="row" style="max-width:546px;">
			<div class="col jb-division-line-column padding-top-7">
				<div class="row">
					<div class="col">
						<span class="text_b strong h4 padding-bottom-left-10 ">스킬 그룹 설정</span>
					</div>
					<div class="col30 text-right padding-right-10">
						<span class="text-right">
							<button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#modalSaveSkillGroup">
		                		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
									<path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"></path>
									<path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"></path>
								</svg>
							</button>
						</span>
					</div>
				</div>
				<div class="jb-division-line2-nm"></div>
			</div>
			<div class="col padding-top-10">
				<div class="row">
					<div class="col">
						<span class="text_b strong h4 padding-bottom-left-10 ">큐 그룹 설정</span>
					</div>
					<div class="col30 text-right padding-right-10">
						<span class="text-right">
							<button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#modalSaveQueueGroup">
		                		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
									<path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"></path>
									<path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"></path>
								</svg>
							</button>
						</span>
					</div>
				</div>
				<div class="jb-division-line2-nm"></div>
				<!-- <span class="text_b strong h4 padding-bottom-left-10 ">큐 그룹 설정</span>
				<div class="jb-division-line2-nm"></div> -->
			</div>
			
		</div>
		
		<div class="row" style="max-width:546px;">
			<div class="col jb-division-line-column">
				<table class="display compact" id="skillGroupTbl">
					<thead>
						<tr>
							<th><div class="form-check form-switch"><input id="skillGroupHeaderCheckbox" class="form-check-input" type="checkbox" role="switch"></div></th>
							<th>ID</th>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="col padding-top-6">
				<table class="display compact" id="queueGroupTbl">
					<thead>
						<tr>
							<th><div class="form-check form-switch"><input id="queueGroupHeaderCheckbox" class="form-check-input" type="checkbox" role="switch"></div></th>
							<th>ID</th>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModalSm" tabindex="-1" aria-labelledby="exampleModalSmLabel" aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-4" id="exampleModalSmLabel">Small modal</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">...</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalSuccess" tabindex="-1" style="text-align: -webkit-center;">
		<div class="modal-dialog" style="width:300px;">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modal_success_title">성공</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="modal_success_message">저장 되었습니다.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalSaveSkillGroup" tabindex="-1" style="text-align: -webkit-center;">
		<div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable" style="width:300px;">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">스킬그룹 저장</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label class="col-form-label">선택하신 스킬그룹셋을 저장 하시겠습니까?</label>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" onClick="croffle.saveSkillGroupList();" data-bs-dismiss="modal">저장</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalSaveQueueGroup" tabindex="-1" style="text-align: -webkit-center;">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width:300px;">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">큐그룹 저장</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label class="col-form-label">선택하신 큐그룹셋을 저장 하시겠습니까?</label>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" onClick="croffle.saveQueueGroupList();" data-bs-dismiss="modal">저장</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>