<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.soluvis.croffle.v1.gcloud.mapper.VerifyMapper">
	
	<insert id="insertAgentStatic"  parameterType="Map">
		INSERT INTO bake.agent_15min
		(
			  progress_ymd, progress_hm, user_id, n_blind_transferred, n_cobrowse_sessions
			, n_connected, n_consult, n_consult_transferred, n_error, n_offered
			, n_outbound, n_outbound_abandoned, n_outbound_attempted, n_outbound_connected, n_over_sla
			, n_state_transition_error, n_transferred, o_external_media_count, o_media_count, o_message_turn
			, o_service_level, o_service_target, t_abandon, t_acd, t_acw
			, t_agent_response_time, t_alert, t_answered, t_barging, t_coaching
			, t_coaching_complete, t_connected, t_contacting, t_dialing, t_first_connect
			, t_first_dial, t_flow_out, t_handle, t_held, t_held_complete
			, t_ivr, t_monitoring, t_monitoring_complete, t_not_responding, t_short_abandon
			, t_talk, t_talk_complete, t_user_response_time, t_voicemail, t_wait
			, status_name_list, status_val_list, create_date
		)
		VALUES
		<foreach collection="agentResult" item="item" separator=",">
		(
			  #{item.PROGRESS_YMD}, #{item.PROGRESS_HM}, #{item.USER_ID}, #{item.nBlindTransferred}, #{item.nCobrowseSessions}
			, #{item.nConnected}, #{item.nConsult}, #{item.nConsultTransferred}, #{item.nError}, #{item.nOffered}
			, #{item.nOutbound}, #{item.nOutboundAbandoned}, #{item.nOutboundAttempted}, #{item.nOutboundConnected}, #{item.nOverSla}
			, #{item.nStateTransitionError}, #{item.nTransferred}, #{item.oExternalMediaCount}, #{item.oMediaCount}, #{item.oMessageTurn}
			, #{item.oServiceLevel}, #{item.oServiceTarget}, #{item.tAbandon}, #{item.tAcd}, #{item.tAcw}
			, #{item.tAgentResponseTime}, #{item.tAlert}, #{item.tAnswered}, #{item.tBarging}, #{item.tCoaching}
			, #{item.tCoachingComplete}, #{item.tConnected}, #{item.tContacting}, #{item.tDialing}, #{item.tFirstConnect}
			, #{item.tFirstDial}, #{item.tFlowOut}, #{item.tHandle}, #{item.tHeld}, #{item.tHeldComplete}
			, #{item.tIvr}, #{item.tMonitoring}, #{item.tMonitoringComplete}, #{item.tNotResponding}, #{item.tShortAbandon}
			, #{item.tTalk}, #{item.tTalkComplete}, #{item.tUserResponseTime}, #{item.tVoicemail}, #{item.tWait}
			<choose>
				<when test="item.statNameList.size!=0">
			, array[<foreach collection="item.statNameList" item="name" separator=",">#{name}</foreach>]
				</when>
				<otherwise>
			, null
				</otherwise>
			</choose>
			<choose>
				<when test="item.statValueList.size!=0">
			, array[<foreach collection="item.statValueList" item="value" separator=",">#{value}</foreach>]
				</when>
				<otherwise>
			, null
				</otherwise>
			</choose>
			, TO_CHAR(CURRENT_TIMESTAMP , 'YYYYMMDDHH24MISS')
		)
		</foreach>
		ON CONFLICT (progress_ymd, progress_hm, user_id) DO NOTHING
	</insert>
	
	<insert id="insertQueueStatic"  parameterType="Map">
		INSERT INTO bake.queue_15min
		(
			  progress_ymd, progress_hm, queue_id, n_blind_transferred, n_cobrowse_sessions
			, n_connected, n_consult, n_consult_transferred, n_error, n_offered
			, n_outbound, n_outbound_abandoned, n_outbound_attempted, n_outbound_connected, n_over_sla
			, n_state_transition_error, n_transferred, o_external_media_count, o_media_count, o_message_turn
			, o_service_level, o_service_target, t_abandon, t_acd, t_acw
			, t_agent_response_time, t_alert, t_answered, t_barging, t_coaching
			, t_coaching_complete, t_connected, t_contacting, t_dialing, t_first_connect
			, t_first_dial, t_flow_out, t_handle, t_held, t_held_complete
			, t_ivr, t_monitoring, t_monitoring_complete, t_not_responding, t_short_abandon
			, t_talk, t_talk_complete, t_user_response_time, t_voicemail, t_wait
			, create_date
		)
		VALUES
		<foreach collection="queueResult" item="item" separator=",">
		(
			  #{item.PROGRESS_YMD}, #{item.PROGRESS_HM}, #{item.QUEUE_ID}, #{item.nBlindTransferred}, #{item.nCobrowseSessions}
			, #{item.nConnected}, #{item.nConsult}, #{item.nConsultTransferred}, #{item.nError}, #{item.nOffered}
			, #{item.nOutbound}, #{item.nOutboundAbandoned}, #{item.nOutboundAttempted}, #{item.nOutboundConnected}, #{item.nOverSla}
			, #{item.nStateTransitionError}, #{item.nTransferred}, #{item.oExternalMediaCount}, #{item.oMediaCount}, #{item.oMessageTurn}
			, #{item.oServiceLevel}, #{item.oServiceTarget}, #{item.tAbandon}, #{item.tAcd}, #{item.tAcw}
			, #{item.tAgentResponseTime}, #{item.tAlert}, #{item.tAnswered}, #{item.tBarging}, #{item.tCoaching}
			, #{item.tCoachingComplete}, #{item.tConnected}, #{item.tContacting}, #{item.tDialing}, #{item.tFirstConnect}
			, #{item.tFirstDial}, #{item.tFlowOut}, #{item.tHandle}, #{item.tHeld}, #{item.tHeldComplete}
			, #{item.tIvr}, #{item.tMonitoring}, #{item.tMonitoringComplete}, #{item.tNotResponding}, #{item.tShortAbandon}
			, #{item.tTalk}, #{item.tTalkComplete}, #{item.tUserResponseTime}, #{item.tVoicemail}, #{item.tWait}
			, TO_CHAR(CURRENT_TIMESTAMP , 'YYYYMMDDHH24MISS')
		)
		</foreach>
		ON CONFLICT (progress_ymd, progress_hm, queue_id) DO NOTHING
	</insert>
	
	<insert id="insertSkillStatic"  parameterType="Map">
		INSERT INTO bake.skill_15min
		(
			  progress_ymd, progress_hm, skill_id, n_blind_transferred, n_cobrowse_sessions
			, n_connected, n_consult, n_consult_transferred, n_error, n_offered
			, n_outbound, n_outbound_abandoned, n_outbound_attempted, n_outbound_connected, n_over_sla
			, n_state_transition_error, n_transferred, o_external_media_count, o_media_count, o_message_turn
			, o_service_level, o_service_target, t_abandon, t_acd, t_acw
			, t_agent_response_time, t_alert, t_answered, t_barging, t_coaching
			, t_coaching_complete, t_connected, t_contacting, t_dialing, t_first_connect
			, t_first_dial, t_flow_out, t_handle, t_held, t_held_complete
			, t_ivr, t_monitoring, t_monitoring_complete, t_not_responding, t_short_abandon
			, t_talk, t_talk_complete, t_user_response_time, t_voicemail, t_wait
			, create_date
		)
		VALUES
		<foreach collection="skillResult" item="item" separator=",">
		(
			  #{item.PROGRESS_YMD}, #{item.PROGRESS_HM}, #{item.SKILL_ID}, #{item.nBlindTransferred}, #{item.nCobrowseSessions}
			, #{item.nConnected}, #{item.nConsult}, #{item.nConsultTransferred}, #{item.nError}, #{item.nOffered}
			, #{item.nOutbound}, #{item.nOutboundAbandoned}, #{item.nOutboundAttempted}, #{item.nOutboundConnected}, #{item.nOverSla}
			, #{item.nStateTransitionError}, #{item.nTransferred}, #{item.oExternalMediaCount}, #{item.oMediaCount}, #{item.oMessageTurn}
			, #{item.oServiceLevel}, #{item.oServiceTarget}, #{item.tAbandon}, #{item.tAcd}, #{item.tAcw}
			, #{item.tAgentResponseTime}, #{item.tAlert}, #{item.tAnswered}, #{item.tBarging}, #{item.tCoaching}
			, #{item.tCoachingComplete}, #{item.tConnected}, #{item.tContacting}, #{item.tDialing}, #{item.tFirstConnect}
			, #{item.tFirstDial}, #{item.tFlowOut}, #{item.tHandle}, #{item.tHeld}, #{item.tHeldComplete}
			, #{item.tIvr}, #{item.tMonitoring}, #{item.tMonitoringComplete}, #{item.tNotResponding}, #{item.tShortAbandon}
			, #{item.tTalk}, #{item.tTalkComplete}, #{item.tUserResponseTime}, #{item.tVoicemail}, #{item.tWait}
			, TO_CHAR(CURRENT_TIMESTAMP , 'YYYYMMDDHH24MISS')
		)
		</foreach>
		ON CONFLICT (progress_ymd, progress_hm, skill_id) DO NOTHING
	</insert>
	
	
</mapper>